server:
  port: 8082

spring:
  application:
    name: SERVICE-CAR
  datasource:
    url: jdbc:h2:mem:cardb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
